.menu-dropdown {
  transform: translateY(50px);
  transition: all 0.45s ease-in-out;
}

.menu:hover .group-hover\:visible {
  visibility: visible;
  background-color: white;
  opacity: 0.95;
  transform: translateY(30px);
  transition: all 0.45s ease-in-out;
}

.sub-menu:hover .sub-menu-underline {
  background-color: #e57905;
}
